html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}
.primary-navigation {
  list-style: none;
  padding: 30px;
  margin: 0;
  --gap: 10rem;
  background: hsl(0 0% 0 / 0.05);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.01);
    backdrop-filter: blur(0.1rem);
  }
}
.primary-navigation a {
  text-decoration: none;
  z-index: 10;
}
.primary-navigation a > [aria-hidden] {
  font-weight: 700;
  font-size: large;
  margin-inline-end: 0.75em;
}
.mobile-nav-toggle {
  position: absolute;
  z-index: 2000;
  background: url("/menu.svg");
  background-repeat: no-repeat;
  width: 5rem;
  border: 0;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
}
.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back-drop {
  z-index: 9900;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grey-gradient {
  height: 90%;
  width: 80%;
  background: #201f1fe1;;
}

.modal-text {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-picture {
  width: 30%;
  border-radius: 50%
}

.icon-tray img{
  background-color: #FFFFFF00;
  width: 15%;
  padding: 10px 50px;
  
}

@media (max-width: 35em) {
  .primary-navigation {
    z-index: 1000;
    --gap: 4em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
  }
  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url("/menu.svg");
    background-repeat: no-repeat;
    width: 5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 0;
  }
}
.mainCanvas {
  position: absolute !important;
  height: 100% !important;
}

.video-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.main-page-content {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
