@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}
.primary-navigation {
  list-style: none;
  padding: 30px;
  margin: 0;
  --gap: 10rem;
  background: hsl(0 0% 0 / 0.05);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.01);
    backdrop-filter: blur(0.1rem);
  }
}
.primary-navigation a {
  text-decoration: none;
  height: 100%;
  z-index: 10;
}
.primary-navigation a > [aria-hidden] {
  font-weight: 700;
  font-size: large;
  margin-inline-end: 0.75em;
}

.mobile-nav-toggle {
  position: absolute;
  z-index: 2000;
  background: url("/menu.svg");
  background-repeat: no-repeat;
  width: 5rem;
  border: 0;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
}
.modal {
  z-index: 9999;
  overflow-y:auto;
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back-drop {
  z-index: 9900;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grey-gradient {
  height: 90%;
  width: 80%;
  background: #201f1fe1;;
}

.modal-text {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-side-about-me {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.profile-picture {
  border-radius: 50%;
  width: 100%;
}

.icon-tray {
  display: flex;
  width: 50%;
  border-style: none;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-clip: content-box;
  align-items: center;
  justify-content: space-between;
}

.github-icon {
  border-radius: 50%;
  background-color: white;
}
.linkedin-icon {
  border-radius: 50%;
  background-color: white;
}

@media (max-width: 35em) {
  .primary-navigation {
    z-index: 1000;
    --gap: 4em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
  }
  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url("/menu.svg");
    background-repeat: no-repeat;
    width: 5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 0;
  }
  .icon-tray {
    display: flex;
    width: 50%;
    border-style: none;
    border-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: content-box;
    align-items: center;
    justify-content: space-between;
  }
}
.projects-text {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  text-decoration: underline;
}
.word-cloud {
  height: 50%;
  width: 50%;
}
.mainCanvas {
  position: absolute !important;
  height: 100% !important;
}

.gallery-canvas {
  position: absolute !important;
  height: 100% !important;
}

.video-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.main-page-content {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
